.buttonNewChar{
    background-color: rgb(190, 68, 68);
    border: none;
    width: 250px;
    height: 50px;
    color: rgb(206, 203, 203);
}

.buttonNewChar:hover{
    color: white;
    background-color: rgb(189, 39, 39);
}
